.App {
  text-align: center;
  min-height: 100vh;
}

.content {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #f2f4f6;
}

.logo {
  width: 150px;
  height: 150px;
  padding-right: 20px;
}

.eth {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.centerH {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  padding-top: 16px;
}

.centerItems {
  display: flex;
  gap: 31px;
  font-size: 16px;
}

.menuSelect {
  color: #606060;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.menuSelect:hover {
  color: #3c3c3c;
  transition: ease-in-out;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 25px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.activeTab {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 7px;
  font-weight: 500;
  color: #3c3c3c;
  text-decoration: none;
}

.tab {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 7px;
  font-weight: 500;
  color: #606060;
  text-decoration: none;
  cursor: pointer;
}

.tab:hover {
  color: #444444;
  cursor: pointer;
}

.tabIcon {
  color: #606060;
}

.tabIcon:hover {
  color: #444444;
}

.headerItem {
  padding: 6px;
  padding-left: 15px;
  border-radius: 7px;
  font-weight: 500;
  background-color: #ffffff;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectButton {
  background-color: #008def;
  padding: 9px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #fcfcfc;
  font-weight: 700;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  background-color: #008def;
}

.formBox {
  background-color: #ffffff;
  width: 33%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: flex-center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.tetherLogo {
  width: 26px;
  height: 26px;
}

.selectionHeading {
  color: #464646;
  font-size: 29px;
  font-weight: 600;
}

.heading {
  color: #464646;
  font-size: 20px;
  font-weight: 500;
}

.selectionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.selectionSubsection {
  display: flex;
  gap: 11px;
  align-items: center;
}

.subtext {
  color: #7a8aa0;
  font-size: 13px;
  margin-bottom: 10px;
}

.formHeading {
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: start;
  color: #464646;
  font-size: 25px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

.formInputs {
  padding-top: 35px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.formButton {
  background-color: #008def;
  height: 50px;
  width: 100%;
  padding: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  color: #fcfcfc;
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s;
  border: none;
  margin-bottom: 20px;
}

.formButtonDisabled {
  opacity: 0.5;
  background-color: #008def;
  height: 50px;
  width: 100%;
  padding: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  color: #fcfcfc;
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s;
  border: none;
  margin-bottom: 20px;
}

.formButton:hover {
  cursor: pointer;
  background-color: #008def;
}

.labels {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

.errorMessage {
  font-size: 13px;
  font-weight: 400;
  color: white;
  background-color: #ff5b5b;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 6px;
}

.connectButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.balanceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 30%;
  border-radius: 20px;
  min-height: 65px;
  gap: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.balanceItem {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.balanceItem:hover {
  background-color: #f4f4f4;
  border-radius: 14px;
}

.balanceRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.balanceIcon {
  width: 38px;
}

.balances {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.balanceAmount {
  color: #464646;
  font-size: 30px;
  font-weight: 500;
}

.balanceToken {
  font-size: 20px;
  font-weight: 500;
  color: #464646;
}

.balanceHeading {
  color: #464646;
  font-size: 27px;
  font-weight: 600;
}

.balanceConnectWallet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 33px;
  width: 100%;
}

.footerLink {
  font-size: 12px;
  color: #7b7b7b;
}

.footerLink:hover {
  font-size: 12px;
  color: #008def;
  transition: all 0.15s ease-in-out;
}

.pricesContainer {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  width: 50%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pricesContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.controlsContainer {
  display: flex;
  margin-bottom: 20px;
}

.tokenSelect,
.timeframeSelect {
  margin-right: 10px;
}

.tokenSelect {
  margin-bottom: 20px;
}

.chartContainer {
  height: 300px;
  width: 100%;
}

.ant-select-selection-item img {
  vertical-align: middle;
}

.priceInfo {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.token-selector {
  margin-right: 10px;
}

.timeframe-selector {
  margin-left: 10px;
}

.chart-ref {
  width: 100%;
  height: 300px;
}

.stablecoin-prices {
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.chart-container {
  height: 400px;
}

.ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .pricesContainer {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    padding-right: 10px;
  }

  .centerItems {
    gap: 20px;
    font-size: 14px;
  }

  .formBox {
    width: 50%;
  }

  .balanceContainer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  header {
    height: 60px;
  }

  .logo {
    width: 60px;
    height: 60px;
    padding-right: 5px;
  }

  .leftH {
    gap: 10px;
  }

  .centerItems {
    gap: 15px;
    font-size: 12px;
  }

  .rightH {
    gap: 10px;
  }

  .headerItem {
    padding: 4px;
  }

  .connectButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .formBox {
    width: 80%;
  }

  .balanceContainer {
    width: 80%;
  }
}
